
<div class = "container">

<%= render 'layouts/header'%>

 

<div class = "row">
  <div class = "col-md-8 col-md-offset-2">
  
    
      <% @articles.each do |article| %>
      <h1><%= article.title %></h1>
      <hr/>
      <p><%= article.content %></p>
      <hr/>
   
    
    
      <div class = "btn-group" role = "group">
          <%= link_to "Show", article_path(article), class: "btn btn-default" %>
          <%= link_to "Edit", edit_article_path(article)  ,class: "btn btn-default"%>
          <%= link_to  "Remove", article_path(article), method: :delete, data: { confirm: "Are you sure?" } ,class: "btn btn-default"%>
      </div>
 
      <% end %>
  
  </div>
</div>

<div class = "row">
  <div class = "col-md-4 col-md-offset-4" style = "margin-top:40px; margin-bottom:40px">
      <%= link_to "新文章", new_article_path,class:"btn btn-primary btn-lg btn-block"%>
  </div>
</div>


<div>
